*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body{
	font-family: 'Montserrat', sans-serif;
	color:#666;
	font-size:14px;
}
img{
	max-width:100%;
}

/*------------ Header, Sorting, Filter and Compare -----------*/
header{
	display: inline-block;
	width: 100%;
	padding: 15px 15px;
	background-color: #f1f1f1;
	margin-bottom: 20px;
	position:fixed;
}
header h1{
	font-family: 'Ubuntu', sans-serif;
	display:block;
	margin-left:20px;
	float:left;
	font-weight:normal;
}
.sorting{
	float:left;
}
.sorting span, .filters span{
	font-size:12px;
}
.sorting select,.filters select{
	padding:5px;
	color:#666;
	border:1px solid #ccc;
	width:150px;
}
.filters{
	float:left;
	margin-left: 23px;
}
.filters span{
	float:left;
	padding:9px 0;
}
.filters ul{
	list-style:none;
	padding:0;
	margin:5px 0;
	display: inline-block;
}
.filters ul li{
	display:inline-block !important;
	background-color:#0CC !important;
}
.compareTool{
	float:right;
	padding: 6px 0;
}
.compareTool a, .filters ul li{
	font-size:14px;
	background-color:#090;
	padding:3px 10px;
	border-radius:3px;
	color:#fff;
	display:none;
	text-transform:uppercase;
	cursor:pointer;
	float:left;
	margin-left:5px;
}
.compareTool a+a{
	background-color:#F00;
	display:block;
}
section.plans{
	display:inline-block;
	width:100%;
	margin-top:100px;
}
/*------------ Plan Grid -----------*/
.plan{
	float: left;
	background: #fff;
	color: #666;
	border:1px solid #0CC; 
	margin:0px 0.5%;
	cursor: pointer;
	padding:0px 0px;
	border-radius:2px;
	width:19%;
	box-sizing:border-box;
	font-size:14px;
}
.plan h1{
	font-family: 'Ubuntu', sans-serif;
	text-align:center;
	margin:0px;
	padding:22px 0;
	background:#0cc;
	color:#fff;
}
.plan .premium, .own_damage{
	font-size:28px;
	text-align:center;
	padding:10px 0;
	font-weight:700;
	background-color:#F60;
	color:#fff;
	font-family: 'Ubuntu', sans-serif;
}
.plan .premium small{
	font-size:14px;
}
.plan h3{
	background:#f1f1f1;
	padding:10px 0;
	margin:0 0 20px 0;
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
}
.provider, .excess, .covers{
	padding:0 15px;
	margin-bottom:20px;
}
.provider a{
	color:#F30;
	text-decoration:none;
}
.provider img{
	width:100px;
	height:100px;
	display:block;
	border:1px solid #ccc;
	margin:20px auto;
	border-radius: 100px;
	text-align: center;
	vertical-align: middle;
}
.pname{
	font-size:18px;
	margin-bottom:10px;
	font-family: 'Ubuntu', sans-serif;
}
.pdesc{
	font-size:11px;
	line-height:18px;
	margin-bottom:10px;
}
.pproduct{
	border:1px solid #f1f1f1;
	padding:10px;
	margin:10px 0;
	background-color:#f9f9f9;
}
.plan.selected{
	border:1px solid #fff;
	box-shadow:0px 0px 8px #0cc;
	-webkit-box-shadow:0px 0px 8px #0cc;
}
.comp{
	display: none;
}

.excess > div, .covers > div{
	border-bottom:1px solid #f1f1f1;
	padding:5px 0;
	font-size:12px;
}
.covers > div:nth-child(2n){
	background-color:#f1f1f1;
}
.covers > div strong{
	color:#F30;
}