<!DOCTYPE html>
<html ng-app="insurance">
  <head>
    <meta charset="utf-8" />
    <title>Insurance Comparison Palteform</title>
    <script data-require="angular.js@1.4.x" src="lib/angular.js" data-semver="1.4.9"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
  </head>
<body ng-controller="MainCtrl">
    <header>
    	<!-- Sorting -->
        <div class="sorting">
            <span>Sort by Price:</span>
            <select ng-model="order" ng-show="jsonFileData.length > 0">
                <option value="">Select Price</option>
                <option value="premium">Price (low to high)</option>
                <option value="-premium">Price (high to low)</option>
        	</select>
        </div>
        <!-- Filter -->
        <div class="filters">
            <span>Filter By: </span>
            <select ng-model="filter" ng-show="jsonFileData.length > 0">
                <option value="autoGapInsurance">Insurance Type</option>
                <option value="provider">Provider</option>
                <option value="gccCovered">Agency Repair</option>
        	</select>
        </div>  	
        <!-- Compare Buttons -->	
        <div class="compareTool">
            <a class="comp">Compare</a> 
            <a class="reset">Reset</a>
        </div>
        <h1>Select Plan to compare</h1>
    </header>
    <!-- Plan Grid -->
    <section class="plans">
        <div ng-repeat="main in jsonFileData | orderBy: order | orderBy: filter">      	                 
            <div class="plan">
                <h1>{{main.insurance_type | uppercase}}</h1>
                <div class="premium">{{main.premium}} <small>{{main.currency}}</small></div>
                
                <!-- Provider -->
                <h3>Provider</h3>
                <div class="provider" ng-repeat="enae in main.provider">
                    <div><img src="{{enae.image_url}}" alt="{{enae.product_name}}"></div>
                    <div class="pname">{{enae.name}}</div>
                    <div class="ptime">Time to Policy: {{enae.time_to_policy}}</div>
                    <div class="pproduct">{{enae.product_name}}</div>
                    <div class="pdesc">{{enae.description}}</div>
                    <div><a href="{{enae.terms_conditions_url}}" target="_blank" title="{{enae.url_slug}}">Terms Conditions</a></div>
                </div>
                
                <!-- Excess -->
                <h3>Excess</h3>
                <div class="excess">
                    <div>Excess: {{main.excess}}</div>
                    <div>ID: {{main.id}}</div>
                
                     <!-- price_breakdown -->
                    <div>Starts AT: {{main.price_breakdown.modifiers[0].terms.starts_at}}</div>
                    <div>Product: {{main.price_breakdown.modifiers[0].terms.product}}</div>
                    <div>{{main.price_breakdown.modifiers[0].terms.name}}</div>
                    <div>Ends At: {{main.price_breakdown.modifiers[0].terms.ends_at}}</div>
                    <div>{{main.price_breakdown.modifiers[0].terms.type}}: {{main.price_breakdown.modifiers[0].terms.value}}</div>
                    <div>Category: {{main.price_breakdown.modifiers[0].category}}</div>
                    <h4>Base: {{main.price_breakdown.base}} <small>{{main.currency}}</small></h4>
                </div>
                
                <!-- covers -->
                <h3>Covers</h3>
                <div class="covers" ng-repeat="items in main.covers">
                    <div>Cost: {{items.options[0].cost}}</div>
                    <div>Agency Repair: <strong>{{items.type | uppercase}}</strong></div>
                    <div>Name: {{items.name}}</div>
                    <div>Text: {{items.options[0].text}}</div>
                </div>
                <span ng-if="main.own_damage"><div class="own_damage">{{main.own_damage}}</div></span>
            </div>
        </div>
    </section>
   	 <!-- jQuery lib -->
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <!-- Custom Script -->
    <script src="js/app.js"></script>
  </body>
</html>
